<form name="form" class="form-horizontal" role="form">
  <div class="alert alert-danger" ng-show="error">{{error}}</div>

  <fieldset>

    <!-- Form Name -->
    <!-- Text input-->
    <div class="form-group">
      <label for="plannedFrom">Tervezett kezdet</label>

      <p id="plannedFrom">{{episode.plannedFrom | date:'yyyy-MM-dd HH:ss'}}</p>

    </div>
    <!-- Text input-->
    <div class="form-group">
      <label for="plannedTo">Tervezett vég</label>

      <p id="plannedTo">{{episode.plannedTo | date:'yyyy-MM-dd HH:ss'}}</p>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label for="plannedFrom">Valós kezdet</label>
      <input class="form-control" id="realFrom" name="realFrom" type="text" ng-model="realFrom"
             ng-pattern="/^[0-2][0-9]:[0-6][0-9](:[0-6][0-9])?$/">

      <div class="alert alert-danger" ng-show="form.realFrom.$error.pattern">A kezdetet óó:pp:mm formátumban kell
        megadni
      </div>


    </div>
    <!-- Text input-->
    <div class="form-group">
      <label for="realTo">Valós vég</label>
      <input class="form-control" id="realTo" name="realTo" type="text" ng-model="realTo"
             ng-pattern="/^[0-2][0-9]:[0-6][0-9](:[0-6][0-9])?$/">

      <div class="alert alert-danger" ng-show="form.realTo.$error.pattern">A véget óó:pp:mm formátumban kell
        megadni
      </div>
    </div>

    <div if-admin class="form-group">
      <label class="control-label" for="Show">Kapcsolódó műsor</label>

      <div class="controls">
        <select id="Show" name="Show" type="text" class="input-xlarge" ng-model="episode.show.id"
                ng-options="s.id as s.name for s in shows"></select>
      </div>
    </div>

    <div if-admin class="form-group">
      <label class="control-label" for="extra">Extra műsor?</label>

      <div class="controls">
        <input id="extra" name="extra" type="checkbox" class="input-xlarge" ng-model="episode.extra"></select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label for="title">Cím</label>
      <input class="form-control" id="title" name="title" type="text" class="" ng-model="episode.text.title"
             width="" style="width: 50ch;">

    </div>

    <div ng-show="episode.plannedFrom > now" class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Figyelem!</strong> A jövőbeni műsorajánló a műsor elhangzása után automatikusan adásnaplóvá
      változik. Érdemes ezért pl.
      jelen időben fogalmazni (pl. az <i>Ebben az adásban vendégünk X.Z</i> sokkal időtállóbb mint a <i>vendégünk
      lesz/volt</i>).
      De természetesen az adásnaplóvá vált ajánló is szerkeszthető, javítható marad.
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="control-label" for="content">Leírás</label>

      <div style="width: 100%;">
        <div style="width: 100%;">
          <textarea style="width: 100%;" rows="30" ng-model="episode.text.content"></textarea>
        </div>
        <div style="width: 100%;" id="help">
          <p><b>A szövegdobozban használható megoldások:</b></p>

          <p><b>Link</b>: Minden URL automatikusan linké alakul</p>

          <p><b>Link szöveggel</b>: [Tilos oldal](http://tilos.hu)</p>

          <p><b>Kép</b>: ![Leírás](http://tilos.hu/valami.jpg)</p>

          <p><b>Új bekezdés:</b> Egy üres sort kell hagyni.</p>

          <p><b>Dőlt betű</b>: _alahuzasokkozott_</p>

          <p><b>Vastag betű</b>: __kétalahuzasokkozott__</p>

          <p><b>Cimkék</b>: #dologcimke @szemelycimke</p>

          <p><b>Youtube beágyazás: </b>(Üres sorba írd be csak a youtube linket, pl:) https://www.youtube.com/watch?v=ufmUUjWyYp8</p>

          <p><b></b></p>
        </div>
      </div>
    </div>

  </fieldset>
  <div class="alert alert-danger" ng-hide="form.$valid">Mentéshez előbb javítsd ki a jelzett hibákat.</div>
  <input value="Mentés" class="btn" type="submit" ng-show="form.$valid" ng-click="save()"/>
</form>
