<div class="row">
  <section class="col-lg-12">
    <div class="btn-group pull-right" role="group">


      <button ng-show="block.path"
              ng-href="http://hir.tilos.hu/kesz/{{block.path}}"
              class="btn btn-default">Letöltés
      </button>
      <button ng-hide="mediaPlayer.playing || !block.path"
              ng-click="playLive()"
              class="btn btn-danger">Lejátszik élő adásba!
      </button>

      <button ng-show="mediaPlayer.playing"
              ng-click="mediaPlayer.stop()"
              class="btn btn-danger">Leállít
      </button>


    </div>

    <ol class="breadcrumb">
      <li><a ng-href="news/day/{{block.date * 1000| date:'yyyy/MM/dd'}}">{{block.date * 1000| date:'yyyy-MM-dd'}} </a>
      </li>
      <li class="active">{{block.name}}</li>
    </ol>
  </section>

  <section class="col-lg-8">
    <h2>Kiválasztott fileok</h2>
    <div ng-show="!block.handmade">
      <ul dnd-list="block.files" class="dnd-list list-group" style="min-height: 30px;background-color: #31b0d5;">
        <li ng-repeat="file in block.files"
            dnd-draggable="file"
            dnd-dragend="dragged(event)"
            dnd-moved="block.files.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="models.selected = file"
            ng-class="{'selected': models.selected === file, 'disabled' : file.path.indexOf('signal') == 0}"
            class="list-group-item"
        >
          {{file.path}} ({{file.duration}} s)
        </li>
        <li ng-hide="block.files.length > 0" class="list-group-item">Még nincs file. Húzz át ide, vagy sorsolj.</li>
      </ul>
    </div>

    <h2>Paraméterek</h2>

    <table class="table">
      <tr>
        <td>Tervezett adásbakerülés</td>
        <td>{{block.date * 1000 | date: 'HH:mm' }}</td>
      </tr>
      <tr>
        <td>Céllzott hossz</td>
        <td>({{block.expectedDuration / 60}} perc)</td>
      </tr>
      <tr ng-show="estimatedDuration">
        <td>Becsült hossz</td>
        <td>kb. {{Math.floor((estimatedDuration) / 60) | number: 0}}:{{(estimatedDuration) % 60 | number: 0}} perc +
          eleje/vége szignál
        </td>
      </tr>

      <tr ng-show="block.expectedDuration && block.path">
        <td>Hátralévő idő</td>
        <td>{{Math.floor((mediaPlayer.duration - mediaPlayer.currentTime) / 60) | number:
          0}}:{{(mediaPlayer.duration - mediaPlayer.currentTime) % 60 | number: 0}}
        </td>
      </tr>
      <tr>
        <td>Adásban volt</td>
        <td>
          <span ng-repeat="data in block.liveAt">{{data * 1000 | date:'HH:mm:ss'}},</span>
        </td>
      </tr>
      <tr>
        <td>Sorsolás típusa</td>
        <td>{{block.selection}}</td>
      </tr>
      <tr>
        <td>Kézzel feltöltött</td>
        <td>{{block.handmade}}</td>
      </tr>
    </table>

    <div class="progress" ng-click="mediaPlayer.seek(mediaPlayer.duration * seekPercentage($event))">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
           ng-style="{ width: mediaPlayer.currentTime*100/mediaPlayer.duration + '%' }"></div>
      <div class="time" ng-show="mediaPlayer.formatTime">
        <span class="sr-only">{{mediaPlayer.currentTime}}</span>
      </div>
    </div>


    <button ng-show="now < block.date" class="btn btn-info" ng-click="draw(block.name)">Újrasorsol</button>
    <span ng-show="now < block.date && block.files">
     <button ng-show="ready && !block.handmade" class="btn btn-primary" ng-click="generate(block.name)">Újravág</button>
    <label ng-hide="ready" class="label label-info">Vágás folyamatban</label>
    </span>

    <button ng-hide="mediaPlayer.playing || !block.path" class="btn btn-warning" ng-click="mediaPlayer.play()">
      Belehallgat
    </button>

    <button ng-show="mediaPlayer.playing" class="btn btn-warning" ng-click="mediaPlayer.stop()">Megállít</button>

    <audio media-player="mediaPlayer" data-playlist="playlist1">
    </audio>


  </section>




</div>
