<div class="row">
  <section class="col-lg-6">
    <h1 ng-hide="playing">{{block.date * 1000| date:'yyyy-MM-dd'}} {{block.name}}
      <a ng-hide="mediaPlayer.playing || !block.path"
         ng-click="playLive()"
         class="btn btn-danger pull-right">Lejátszik élő adásba!</a>
      <a ng-show="mediaPlayer.playing"
         ng-click="mediaPlayer.stop()"
         class="btn btn-danger pull-right">Leállít</a>
      <br/>
      <a ng-show="block.path"
         ng-href="http://hir.tilos.hu/kesz/{{block.path}}"
         class="btn btn-danger pull-right">Letöltés</a>

    </h1>


    <div>Tervezett adásbakerülés: {{block.date * 1000 | date: 'HH:mm' }}</div>
    <div>Céllzott hossz: ({{block.expectedDuration / 60}} perc)</div>
    <div>Hátralévő idő: {{Math.floor((mediaPlayer.duration - mediaPlayer.currentTime) / 60) | number:
      0}}:{{(mediaPlayer.duration - mediaPlayer.currentTime) % 60 | number: 0}}
    </div>
    <div class="progress" ng-click="mediaPlayer.seek(mediaPlayer.duration * seekPercentage($event))">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
           ng-style="{ width: mediaPlayer.currentTime*100/mediaPlayer.duration + '%' }"></div>
      <div class="time" ng-show="mediaPlayer.formatTime">
        <span class="sr-only">{{mediaPlayer.currentTime}}</span>
      </div>
    </div>

    <h2>Tartalom</h2>
    <div ng-repeat="file in block.files">
      {{file.path}}
    </div>

    <h2>Adásban volt</h2>

    <div ng-repeat="data in block.liveAt">{{data * 1000 | date:'HH:mm'}}</div>

    <h2>Szerkesztés</h2>
    <button ng-show="now < block.date" class="btn btn-info" ng-click="draw(block.name)">Újrasorsol</button>
    <span ng-show="now < block.date && block.files">
     <button ng-show="ready" class="btn btn-primary" ng-click="generate(block.name)">Újravág</button>
    <label ng-hide="ready" class="label label-info">Vágás folyamatban</label>
    </span>

    <button ng-hide="mediaPlayer.playing || !block.path" class="btn btn-warning" ng-click="mediaPlayer.play()">
      Belehallgat
    </button>
    <button ng-show="mediaPlayer.playing" class="btn btn-warning" ng-click="mediaPlayer.stop()">Megállít</button>

    <audio media-player="mediaPlayer" data-playlist="playlist1">

    </audio>


  </section>
