<div class="row">
  <section class="col-lg-6">
    <h2>Napi hírblokkok {{selectedDate| date:'yyyy/MM/dd'}}</h2>
    <nav>
      <ul class="pager">
        <li ><a ng-href="/news/{{current - 24 * 60 * 60 * 1000 | date:'yyyy/MM/dd'}}"><span
          aria-hidden="true">&larr;</span> Tegnap</a></li>
        <li ><a ng-href="/news/{{current+ 24 * 60 * 60 * 1000 | date:'yyyy/MM/dd'}}">Holnap <span
          aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>

    <table class="table">
      <tbody>
      <tr ng-repeat="block in blocks | orderBy: 'date'">
        <td>{{block.date * 1000 | date: 'HH:mm' }}</td>
        <td>
          <a ng-href="/news/block/{{block.date * 1000 | date:'yyyy/MM/dd'}}/{{block.name}}">{{block.name}}</a>
          ({{block.expectedDuration / 60}} perc)<br/>
          <label ng-show="now < block.date" class="label label-info" ng-click="draw(block.name)">Újrasorsol</label><br/>
          <span ng-show="now < block.date && block.files">
            <label ng-show="ready" class="label label-primary" ng-click="generate(block.name)">Újravág</label><br/>
            <label ng-hide="ready" class="label label-info">Vágás folyamatban</label>
            </span>
        </td>
        <td>
          <div ng-repeat="file in block.files">
            {{file.path}}
          </div>
        </td>
        <td><a ng-show="block.path" ng-href="/news/block/{{block.date * 1000 | date:'yyyy/MM/dd'}}/{{block.name}}"
               class="label label-danger">Lejátszás</a>
        </td>
      </tr>
      </tbody>
    </table>
  </section>


  <section class="col-lg-6">

    <h2>Új hír feltöltés</h2>
    <form>
      <div class="form-group">
        <label for="category">Kategória</label>
        <select ng-model="category" id="category" required>
          <option value="kozerdeku">Közérdekű</option>
          <option value="kultura">Kultúra</option>
          <option value="tudomany">Tudomány</option>
          <option value="szines">Színes</option>
          <option value="idojaras">Időjárás</option>
        </select>
      </div>
      <div class="form-group">
        <label for="upload">File feltöltés</label>
        <input type="file" class="custom-file-input" file-model="myFile" name="file" id="upload">
      </div>
      <button class="btn btn-default" ng-click="uploadFile()">Upload</button>
    </form>


    <h2>Feltöltött fileok </h2>
    <table class="table">
      <tbody>
      <tr ng-repeat="file in files |  orderBy : 'expiration' : true">
        <td><a ng-href="http://hir.tilos.hu/pool/{{file.path}}">{{file.path}}</a></td>
        <td>{{file.category}}</td>
        <td>{{file.expiration*1000 | date : 'yyyy-MM-dd HH:mm'}}</td>

      </tr>
      </tbody>
    </table>
  </section>
</div>
