<div class="row">
  <section class="col-lg-6">
    <h1>Napi hírblokkok</h1>
    <table class="table">
      <tbody>
      <tr ng-repeat="block in blocks | orderBy: 'date'">
        <td>{{block.date * 1000 | date: 'HH:mm'}}</td>
        <td>{{block.name}} ({{block.expectedDuration / 60}} perc)</td>
        <td>
          <div ng-repeat="file in block.files">
            {{file.path}}
          </div>
        </td>
        <td><a ng-show="block.path" ng-href="http://hir.tilos.hu/kesz/{{block.path}}" class="label label-primary">Letöltés</a></td>
      </tr>
      </tbody>
    </table>
  </section>

  <section class="col-lg-6">
    <h1>Feltöltött fileok </h1>
    <table class="table">
      <tbody>
      <tr ng-repeat="file in files |  orderBy : 'expiration'">
        <td><a ng-href="http://hir.tilos.hu/{{file.path}}">{{file.path}}</a></td>
        <td>{{file.category}}</td>
        <td>{{file.expiration*1000 | date : 'yyyy-MM-dd HH:mm'}}</td>

      </tr>
      </tbody>
    </table>
  </section>
</div>
