<!doctype html>
<html lang="en" ng-app="tilosAdmin">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tilos Admin</title>

  <base href="/">

  <!-- vendor:css -->
  <!-- endinject -->
  <!-- tilos:css -->
  <!-- endinject -->
  <!-- vendor:js -->
  <!-- endinject -->
  <!-- tilos:js -->
  <!-- endinject -->
  <!-- tilos-template:js -->
  <!-- endinject -->
</head>
<body>
<div growl></div>
<div ng-controller="DashboardCtrl" id="page-wrapper" ng-class="{'active': toggle && user}" ng-cloak>

  <!-- Sidebar -->

  <div id="sidebar-wrapper" ng-show="user" ng-hide="user.username == 'tech'">
    <ul class="sidebar">
      <li class="sidebar-main" ->

        <a href="/">Nyitólap
                <span ng-click="toggleSidebar($event)">
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </span>
        </a>
      </li>

      <li class="sidebar-title"><span>MŰSORKÉSZÍTŐ PROFIL</span></li>

      <li class="sidebar-list">
        <a ng-href="/author/{{user.author.alias}}">{{user.author.name}}<span
          class="menu-icon fa fa-user"></span></a>
      </li>

      <li class="sidebar-title"><span>SAJÁT MŰSOROK</span></li>

      <li class="sidebar-list" data-ng-repeat="contribution in user.author.contributions">
        <a ng-href="/show/{{contribution.show.id}}">{{contribution.show.name}}<span
          class="menu-icon fa fa-gear"></span></a>
      </li>

      <li class="sidebar-title"><span>SEGÍTSÉG</span></li>

      <li class="sidebar-list">
        <a ng-href="/text/page/ujoldal">Új oldal hogyan<span class="menu-icon fa fa-question"></span></a>
      </li>

      <li class="sidebar-list">
        <a ng-href="/text/page/face">Facebook<span class="menu-icon fa fa-facebook-square"></span></a>
      </li>

      <li class="sidebar-list">
        <a ng-href="/text/page/szerkesztes">Így használd az oldalt!<span class="menu-icon fa fa-edit"></span></a>
      </li>

      <li class="sidebar-list">
        <a ng-href="/text/page/dokumentumok">Tilos dokumentumok<span class="menu-icon fa fa-file-text-o"></span></a>
      </li>

      <li class="sidebar-list">
        <a ng-href="https://upload.tilos.hu/stats/2017/">Napi statisztika<span
          class="menu-icon fa fa-external-link"></span></a>
                <a ng-href="https://upload.tilos.hu/stats/2016/">2016<span
          class="menu-icon fa fa-external-link"></span></a>
      </li>

      <li class="sidebar-list">
        <a ng-href="/text/page/tanulj">Tanulj te is!<span class="menu-icon fa fa-file-text-o"></span></a>
      </li>

      <li class="sidebar-title"><span>TILOS tartalom</span></li>

      <li class="sidebar-list">
        <a ng-href="/comments">Hozzászólások<span class="menu-icon fa fa-comment"></span></a>
      </li>

      <li class="sidebar-list">
        <a ng-href="/shows">Műsorok<span class="menu-icon fa fa-tasks"></span></a>
      </li>

      <li class="sidebar-list">
        <a ng-href="/authors">Műsorkészítők<span class="menu-icon fa fa-user"></span></a>
      </li>

      <li class="sidebar-list">
        <a ng-href="/mixes">Mixek<span class="menu-icon fa fa-music"></span></a>
      </li>

      <li class="sidebar-list" ng-show="user.role == 'ADMIN'">
        <a ng-href="/text/page">Oldalak<span class="menu-icon fa fa-quote-right"></span></a>
      </li>

      <li class="sidebar-list" ng-show="user.role == 'ADMIN'">
        <a ng-href="/text/news">Hír bejegyzések<span class="menu-icon fa fa-quote-right"></span></a>
      </li>

      <li class="sidebar-list ng-hide" ng-show="user.role == 'ADMIN'">
        <a ng-href="/text/adminnews">Admin hírek<span class="menu-icon fa fa-quote-right"></span></a>
      </li>

      <li class="sidebar-list">
        <a ng-href="/news">Hírszerkesztés<span class="menu-icon fa fa-quote-right"></span></a>
      </li>
      <li class="sidebar-list">
        <a ng-href="/news/day">Hírbejátszás<span class="menu-icon fa fa-quote-right"></span></a>
      </li>

    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-4">
        <a href="http://tilos.hu" target="_blank">
          Tilos.hu
        </a>
      </div>
      <div class="col-xs-4">
        <a href="http://tilos.hu/chat/" target="_blank">
          Chat
        </a>
      </div>
      <div class="col-xs-4">
        <a href="http://facebook.com/tilosradio">
          Facebook
        </a>
      </div>
    </div>
  </div>

  <!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->

      <div class="row header" ng-show="user">
        <div class="col-xs-12">
          <div class="user pull-right">
            <div class="meta">
              <div class="page">
                Tilos Rádió
              </div>
              <div class="breadcrumb-links">
                <a href="/user/me">{{user.username}}</a>
                <a ng-click="logout()">
                  Kijelentkezés
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End Header Bar -->
      <!-- Main Content -->
      <section class="content" ui-view></section>
    </div>
    <!-- End Page Content -->
  </div>
  <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->

</body>
</html>
